*{
    margin: 0;
    padding: 0;
}

.app {
    border: 5px solid;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.registration {
    display: flex;
    flex-direction: column;
}

input{
  display: flex;
}